{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [chat_server]}
]}.

{relx, [
    {release, {chat_server, "0.1.0"}, [chat_server, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

%% Profiles
{profiles, [
    {server, [
        %% Overwrite the default env from .app.src
        {env, [{chat_server, start_server, true}]}
    ]},
    {client, [
        {env, [{chat_server, start_server, false}]}
    ]}
]}.
